<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center head">
      <h3>Historique</h3>
      <h6><span id="records-nb">0</span> entr&eacute;es</h6>
      <i class="delete-all fa fa-trash"></i>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container-fluid">
    <div class="row notifications">
      <div class="todo">
        <ul id="records-container">
          <div class="text-center loader">
            <div>
              <i class="fa fa-cog fa-spin fa-3x"></i>
              <br>
              <p id="internet-message" class="hidden">
                Le chargement semble long.
                <br/>
                &Ecirc;tes-vous connect&eacute; &agrave; Internet&nbsp;?
              </p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
